:root {
  --color-back-footer: #f2f2f2;
  --color-body-main: #282725;
  --color-link-footer: #737478;
  --color-main: #583d4e;
  --color-profile: #c2175b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Section Divider */

.section-divider {
  align-items: center;
  background-color: grey;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 600px;
}

.section-divider__lg,
.section-divider__round {
  background-color: #051429;
}

.section-divider__lg {
  background-color: #051429;
  height: 25%;
  width: 80%;
}

.section-divider__title {
  color: white;
  font-size: 18px;
  font-style: italic;
  margin: 0;
  text-align: right;
}

.left-text {
  padding-left: 20px;
}

.right-text {
  padding-right: 20px;
}

.section-divider__round {
  border-radius: 100%;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-left: -8px;
  object-fit: cover;
  width: 60px;
}

.section-divider__round img {
  align-self: center;
  border-radius: 100%;
  width: 80%;
}

/* Section Divider ends */

/* Contact Card Component */
.contact-card {
    align-items: center;
    background-color: green;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    height: 48px;
    width: 100%;
}

.contact-card__image {
    margin-left: 6px;
    margin-right: 6px;
    height: 38px;
}

.contact-card__image img {
    border-radius: 100%;
}

.contact-card__body__header,
.contact-card__body__body {
    line-height: 1;
    margin: 0;
}

.contact-card__body__header {
    font-size: 16px;
}

.contact-card__body__body {
    font-size: 12px;
}

/* Contact Card Component ends */

/* profile Card Component */
.profile-card {
    align-items: center;
    background-color: green;
    /* border-top-left-radius: 24px;
    border-bottom-left-radius: 24px; */
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    width: 100%;
}

.profile-card__image {
    /* margin-left: 6px;
    margin-right: 6px; */
    height: inherit;
}

.profile-card__image img {
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.profile-card__body {
    text-align: center;
}

.profile-card__body__header,
.profile-card__body__body {
    line-height: 1.5;
    margin: 0;
}

.profile-card__body__header {
    font-size: 18px;
}

.profile-card__body__body {
    font-size: 14px;
}

/* profile Card Component ends */


/* experience card component */
.experience-card {
    margin: 4rem;
    /* background-color: grey; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    /* height: inherit; */
    justify-content: center;
    text-align: center;
    width: 300px;
}

.experience-card__top img {
    border-radius: 100%;
    margin-top: 15px;
}

.experience-card__line::after {
    background-color: rgb(15, 15, 15);
    color: white;
    content: 'p';
    line-height: 10;
    padding: 39px 0px 22px;
    font-size: 8px;
}

.experience-card__body {
    background-color: white;
    margin: -70px auto 15px;
    width: 60%;
    position: relative;
}

.experience-card__body * {
    margin: 0;
}

.experience-card__bottom {
    background-color: blanchedalmond;
    height: 31px;
}

.experience-card__bottom::before {
    content: '2021';
    font-size: 19px;
    line-height: 1.7;
    color: white;
    padding: 5px 50px;
    background-color: rosybrown;
}